---
import { Icon } from 'astro-icon/components';
import { SITE } from '~/utils/config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer
  class:list={[{ dark: theme === 'dark' }, 'relative border-t border-neutral-200 dark:border-neutral-900 not-prose']}
>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-neutral-100">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-4">
        <div class="mb-2">
          <a class="flex items-center font-bold text-xl" href={getHomePermalink()}>
            <div class="mr-2 pb-0.5">
              <svg width="35" height="35" viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.51414 30.8879C7.71163 29.1091 6.59513 26.6418 6.59513 23.9147L6.59514 10.611C6.59514 8.12224 8.62048 6.10473 11.1189 6.10473C13.6173 6.10473 15.6426 8.12224 15.6426 10.611L15.6426 32.0798C15.6426 32.6344 15.6888 33.1782 15.7775 33.7077C15.9993 33.7226 16.2231 33.7301 16.4487 33.7301L31.3065 33.7301C33.57 33.7301 35.4049 35.558 35.4049 37.8127C35.4049 40.0674 33.5699 41.8953 31.3064 41.8953L25.4962 41.8953C23.2197 41.8953 21.1236 41.1263 19.4552 39.8349C18.1534 38.8271 17.112 37.5013 16.4487 35.9744C16.1379 35.259 15.9101 34.4994 15.7775 33.7077C14.0093 33.5892 12.3689 33.0061 10.9783 32.0798C10.4523 31.7294 9.96205 31.3299 9.51414 30.8879ZM11.0547 38.9043C4.88067 36.6996 0.466678 30.8223 0.466679 23.9147L0.466681 10.611C0.466682 4.75068 5.23583 -6.79553e-06 11.1189 -5.76691e-06C17.0019 -4.73828e-06 21.7711 4.75069 21.7711 10.611L21.7711 27.6254L31.3065 27.6254C36.9546 27.6254 41.5333 32.1864 41.5333 37.8127C41.5333 43.439 36.9546 48 31.3064 48L25.4962 48C19.1184 48 13.62 44.2826 11.0547 38.9043Z"
                  fill="#268007"></path>
              </svg>
            </div>
            {SITE?.name}
          </a>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <!-- <div class="dark:text-gray-300 font-medium mb-2">Sider</div>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
              href="/"
              set:html="Del dine ting"
            />
          </li>
          <li class="mb-2">
            <a
              class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
              href="/fordele"
              set:html="Fordele"
            />
          </li>
          <li class="mb-2">
            <a
              class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
              href="/om"
              set:html="Om lenti"
            />
          </li>
        </ul> -->
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="dark:text-neutral-300 font-medium mb-2">Dine data</div>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-muted hover:text-neutral-700 dark:text-neutral-400 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
              href="/privatlivspolitik"
              set:html="Privatlivspolitik"
            />
          </li>
          <li class="mb-2">
            <a
              class="text-muted hover:text-neutral-700 dark:text-neutral-400 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
              href="/persondatapolitik"
              set:html="Persondatapolitik"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <!-- {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      } -->

      <div class="text-sm mr-4 dark:text-neutral-400">
        <p>© Lenti 2023</p>
      </div>
    </div>
  </div>
</footer>
