---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import appStoreImg from '~/assets/images/app-store.png';
import googlePlayImg from '~/assets/images/google-play.png';

const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Lenti - udlej dine egendele',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        // Reactivate header items here
        // { text: 'Del dine ting', href: '/' },
        // { text: 'Fordele', href: '#' },
        // { text: 'Om lenti', href: '#' },
      ]}
      actions={[
        {
          text: 'Kommer snart',
          href: '/',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Tag del i deleøkonomien"
    image={{
      src: './src/assets/images/lenti-app.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Lenti</span>
      <br /> Udlej dine egendele <span class="hidden xl:inline">på den nemme måde</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Opdag værdien ved dine ubrugte ejendele, eller find det du står og mangler for en kort periode.
      </span>
       Lenti giver udlejere og lejere adgang til alle deleøkonomiens fantastiske fordele.
    </Fragment>

    <!-- Reactivate download buttons here -->

    <!-- <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div> -->
  </Hero2>
</Layout>
